.bob
.idea
.tilt
.project
target
requirements.lock
logs
*.tgz
**/build/**
**/out/**
node_modules
test-output/**
.nyc_output
tilt.option.user.json
tilt.iccr.ip.txt
tilt_modules
.bob.env
trivy_metadata.properties
acnhore_metadata.properties
Chart.lock
ha-mocks/tests/**